@model IEnumerable<tvt_baikemtragiuaki.Models.SinhVien>

@{
    ViewBag.Title = "tvtIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "tvtCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.TENKHOA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.TENKHOA)
        </td>
        <td>
            @Html.ActionLink("Edit", "tvtEdit", new { id=item.MASV }) |
            @Html.ActionLink("Details", "tvtDetails", new { id=item.MASV }) |
            @Html.ActionLink("Delete", "tvtDelete", new { id=item.MASV })
        </td>
    </tr>
}

</table>
